@page
@model VeterinariaGato.App.Frontend.Pages.EditModelSugerenciaCuidados
@{
}

<h2>Edición de sugerencias:@Model.SugerenciaCuidado.SugeCuidadoId</h2>
<form method="post">
     <input type="hidden" asp-for="SugerenciaCuidado.SugeCuidadoId"/>
     <div class="form-group">
        <label asp-for="SugerenciaCuidado.SugeCuidadoId"></label>
        <input asp-for="SugerenciaCuidado.SugeCuidadoId" class="form-control">
        <span class="text-danger" asp-validation-for="SugerenciaCuidado.SugeCuidadoId"></span>
    </div>
    <div class="form-group">
        <label asp-for="SugerenciaCuidado.FechaHora"></label>
        <input asp-for="SugerenciaCuidado.FechaHora" class="form-control">
        <span class="text-danger" asp-validation-for="SugerenciaCuidado.FechaHora"></span>
    </div>
    <div class="form-group">
        <label asp-for="SugerenciaCuidado.Descripcion"></label>
        <input asp-for="SugerenciaCuidado.Descripcion" class="form-control">
        <span class="text-danger" asp-validation-for="SugerenciaCuidado.Descripcion"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Grabar</button>
</form>
<a asp-page="./List" class="btn-default">Sugerencias Cuidado</a>
